h1 {
  text-align: center;
  background-color: #004d99;
  color: white;
  padding: 20px 20px;
}

#citySelect {
  padding: 0px 20px 15px 20px;
  align-content: center;
}

.list-group-item:hover {
  background-color: #66b3ff;
}

/* .form-control {
    border-radius: 20px;
    width: 50%;
} */

li {
  text-align: center;
}

#weatherResults {
  border-style: solid 200px red;
}

ol {
  text-align: left;
}

#weatherDisplay {
  border: gainsboro dotted 1px;
  margin-bottom: 20px;
}

#chosenCity {
  border-color: lightslategrey;
  border-width: thin;
  padding-right: 100px;
  width: 100%;
}

.forecast {
  background-color: dodgerblue;
  padding: 50px;
  margin: -10px;
}

.weather-search {
  margin-bottom: 10px;
}

#crypto-input {
    border-radius: 20px;
    width: 20px;
}
