/* h1 {
  text-align: center;
  background-color: #004d99;
  color: white;
  padding: 20px 20px;
} */

.list-group-item:hover {
  background-color: #66b3ff;
}

li {
  text-align: center;
}

#weatherResults {
  border-style: solid 200px red;
}

ol {
  text-align: left;
}

#weatherDisplay {
  border: gainsboro dotted 1px;
  border-top: none;
  margin-bottom: 20px;
  justify-content: center;
}

#chosenCity {
  border-color: lightslategrey;
  border-width: thin;
  padding-right: 100px;
  width: 100%;
}

.weather-search {
  height: 20px;
  font-size: 10px;
  margin-top: 10px;
  padding-left: 3px;
}

#search-input {
  border-radius: 20px;
  /* width: 50px; */
  font-size: 10px;
}

.weather-bar {
  width: 80px;
  /* margin-left: 15px; */
  margin-top: 10px;
}

.condition-icon {
  height: 100px;
}

.search-holder {
  display: flex;
  justify-content: center;
  border: gainsboro 1px dotted;
  border-bottom: none;
}

.input-or {
  margin-top: 10px;
  padding: 0px 15px 0px 0px;
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 20px;
}

.temp-results {
  font-family: 'Goudy Bookletter 1911', serif;
}