body {
    background-color: #004d99;
    max-width: 960px;
    margin: auto;
    padding: 10px;

    /* padding-right: auto; */
    /* width: 100%; */
}

#carouselExampleControls {
    padding-top: 20px;
    width: 100%;
    justify-content: center;
    max-height: 500px;
}

#news-container {
    border: gainsboro dotted 1px;
}

.main-headers {
    margin-top: 20px;
    font-family: 'Six Caps', sans-serif;
}

#slider-story {
    font-size: 27px;
    font-family: 'Goudy Bookletter 1911', serif;
}

.d-block {
    height: 400px;
}

.link-col {
    border: gainsboro dotted 1px;
}

.quick-links {
    justify-content: center;
}

.webpage-links {
    cursor: pointer;
    font-family: 'Goudy Bookletter 1911', serif;
}

.webpage-links:hover {
    color: blue;
    text-decoration: underline;
}